// header
$backgroun-header:#ffffff;
$color-menu-header:#000000;
$color-hover-item-header: #fc4303;
$font-size-menu:18px;
// end

// section-1
$color-noi-dung-section-1:#ffffff;
$font-size-title:40px;
$font-size-p:14px;
// end
// dự án nổi bật
$background-project:#f35e01;
$color-h2:#ffffff;
$color-counter-p:#ffffff;
$font-size-counter-span:40px;
$font-size-counter-p:18px;
// end

// location
$color-title-location:#f35e01;

// end

// font
$font-tilte:'UTM Neo Sans Intel';
$font-discription: 'Segoe UI';

// window onload
.fixed {
    width: 100%;
    background: $backgroun-header;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
    box-shadow: 0px 4px 10px -6px;
    transition: height 0.6s;
}

.header.fixed img {
    height: 40px !important;
    transition: all 0.4s;
}


.active-2 {
    color: $color-hover-item-header !important;
}

// end

// ham tai su dung
@mixin button-view($backgound-color, $color, $p-top-bottom, $p-left-right) {
    background: $backgound-color;
    border: 1px solid $color;
    color: $color;
    padding: $p-top-bottom $p-left-right;
}

// end
@mixin btn {
    display: inline-block;
    padding: 13px 20px;
    color: #fff;
    text-decoration: none;
    position: relative;
    background: transparent;
    border: 1px solid #e1e1e1;
    font: 12px/1.2 "Oswald", sans-serif;
    letter-spacing: 0.4em;
    text-align: center;
    text-indent: 2px;
    text-transform: uppercase;
    transition: color 0.1s linear 0.05s;
}

.container {
    max-width: 1250px !important;
}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

// header
.header {
    box-shadow: 0px 4px 10px -6px;

    .nav-item {
        padding: 0 5px;

        .nav-link {
            font-size: $font-size-menu;
            text-transform: uppercase;
            color: $color-menu-header;
            font-family: 'UTM Neo Sans Intel';

            &:hover {
                color: $color-hover-item-header;
                transition: 0.3s;

            }

        }
    }

}

// end

// slide
body {
    font: 14px/2 "Open sans", sans-serif;
    letter-spacing: 0.05em;
}

.btn {

    @include btn();

    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 1px;
        background: #e1e1e1;
        z-index: 1;
        opacity: 0;
        transition: height 0.2s ease, top 0.2s ease, opacity 0s linear 0.2s;
    }

    &::after {
        transition: border 0.1s linear 0.05s;
    }

    .btn-inner {
        position: relative;
        z-index: 2;
    }

    &:hover {
        color: #373737;
        transition: color 0.1s linear 0s;

        &::before {
            top: 0;
            height: 100%;
            opacity: 1;
            transition: height 0.2s ease, top 0.2s ease, opacity 0s linear 0s;
        }

        &::after {
            border-color: #373737;
            transition: border 0.1s linear 0s;
        }
    }
}

.slideshow {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 1;

    .slideshow-inner {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .slides {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    .slide {
        display: none;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0;
        transition: opacity 0.3s ease;

        &.is-active {
            display: block;
        }

        &.is-loaded {
            opacity: 1;
        }

        .caption {
            padding: 0 100px;
        }

        .image-container {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-position: center;
            z-index: 1;
            background-size: cover;
            image-rendering: optimizeQuality;

            &::before {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.7);
            }
        }

        .image {
            width: 100%;
            width: 100%;
            object-fit: cover;
            height: 100%;
        }

        &-content {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
            color: #fff;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .title {
            margin: 0 auto 15px;
            max-width: 1000px;
            font: 300 50px/1.2 "Oswald", sans-serif;
            letter-spacing: 0.35em;
            text-transform: uppercase;
        }

        .text {
            margin: 0 auto;
            max-width: 1000px;
            font-size: 18px;
            line-height: 1.4;

            p {
                text-transform: uppercase;
                color: #f2b032;
                ;
                font-family: 'UTM Neo Sans Intel';
                font-weight: 500;
                font-weight: bold;
            }
        }

        .btn {
            margin: 15px 0 0;
            border-color: #fff;

            &::before {
                background: #fff
            }
        }
    }

    .pagination {
        position: absolute;
        bottom: 35px;
        left: 44%;
        width: 100%;
        height: 12px;
        cursor: default;
        z-index: 2;
        text-align: center;

        .item {
            display: inline-block;
            padding: 15px 5px;
            position: relative;
            width: 46px;
            height: 32px;
            cursor: pointer;
            text-indent: -999em;
            z-index: 1;

            +.page {
                margin-left: -2px;
            }

            &::before {
                content: "";
                display: block;
                position: absolute;
                top: 15px;
                left: 5px;
                width: 36px;
                height: 2px;
                background: rgba(255, 255, 255, 0.5);
                transition: background 0.2s ease;
            }

            &::after {
                width: 0;
                background: #fff;
                z-index: 2;
                transition: width 0.2s ease;
            }

            &:hover::before,
            &.is-active::before {
                background-color: #fff;
            }
        }
    }

    .arrows {
        .arrow {
            margin: -33px 0 0;
            padding: 20px;
            position: absolute;
            top: 50%;
            cursor: pointer;
            z-index: 3;
        }

        .prev {
            left: 30px;

            &:hover .svg {
                left: -10px;
            }
        }

        .next {
            right: 30px;

            &:hover .svg {
                left: 10px;
            }
        }

        .svg {
            position: relative;
            left: 0;
            width: 14px;
            height: 26px;
            fill: #fff;
            transition: left 0.2s ease;
        }
    }
}



// end

// ve chung toi
.section-1 {
    background-image: url(http://wallpaper.phunuvn.net/files/hinh-nen-noi-that/19731-interior-design-1920x1080-photography-wallpaper.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    &::before {
        position: absolute;
        background: rgba(0, 0, 0, 0.8);
        content: '';
        width: 100%;
        height: 388px;
    }

    .content-nd {
        padding: 30px 0;
    }

    .title {
        span {
            color: $color-noi-dung-section-1;
            font-size: $font-size-title;
            font-weight: 500;
            font-family: $font-tilte;
        }

        .nd {
            p {
                color: $color-noi-dung-section-1;
                font-size: $font-size-p;
                display: block;
                font-family: $font-discription
            }
        }

    }
}

// end

// du an cua chung toi
.Outstanding-project {
    background: $background-project;

    .fix-w-h {
        width: 100%;
        height: 100%;
        overflow: hidden;
        border: 5px solid white;
        position: relative;

        &:hover {
            img {
                transform: scale(1.1);
                transition: all .4s ease-in-out;
                filter: brightness(130%);

            }

            .caption {
                transform: translateY(-70%);
                transition: all .4s;
            }
        }
    }

    .caption {
        position: absolute;
        text-transform: uppercase;
        top: 88%;
        font-size: 20px;
        width: 100%;


        .btn {
            @include btn();

            &:hover {
                color: #373737;
                transition: color 0.1s linear 0s;
            }
        }
    }

    h2 {
        color: $color-h2;
        font-family: 'UTM Neo Sans Intel';
    }

    h4 {
        font-family: $font-tilte;
        color: white;
    }

    img {
        height: 263px;
        width: 100%;
    }

    .project-item {

        // height: 263px;
        overflow: hidden;
    }

    .btn-view button {
        @include button-view(transparent, white, 5px, 10px);

        &:hover {
            background: white;
            color: #000000;
            border: 1px solid black;
            transition: all .2s ease-in-out;
        }
    }
}

// end
.counter {
    background-image: url('../images/body/counter.png');
    // height: 175px;
    width: 100%;
    background-position: 0px -500px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    &::before {
        position: absolute;
        content: '';
        background: rgba(0, 0, 0, 0.7);
        width: 100%;
        height: 200px;
    }

    p {
        color: $color-counter-p;
        font-size: $font-size-counter-p;
        font-family: 'UTM Neo Sans Intel';
    }

    span {
        color: $color-counter-p;
        font-size: $font-size-counter-span
    }
}

.tintuc-new {
    .card {
        margin: 0 10px;
        outline: none;
        border: none;
    }

    .card-body {
        padding: 0;
    }

    .card-text {
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 25px;
        -webkit-line-clamp: 3;
        height: 75px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        font-family: $font-discription;
    }

    .line-left {
        width: 30px;
        height: 5px;
        background: #f35e01;
    }

    span {
        font-weight: bold;
        font-family: 'UTM Neo Sans Intel';
    }

    h4,
    h2 {
        font-family: 'UTM Neo Sans Intel';
    }

    .btn-view button {
        @include button-view(transparent, black, 5px, 10px);

        &:hover {
            background: #000000;
            color: white;
            border: 1px solid white;
            transition: all .2s ease-in-out;
        }
    }

    .slick-slide img {
        height: 260px;
    }
}

.contact {
    background-image: url(http://wallpaper.phunuvn.net/webmaster/wallpapers/hinh-nen-noi-that/19731-interior-design-1920x1080-photography-wallpaper.jpg);
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;

    &::before {
        position: absolute;
        content: '';
        background: rgba(0, 0, 0, 0.7);
        width: 100%;
        height: 375px;
    }

    span {
        display: block;
        padding: 6px 0px;
        color: white;
        font-size: $font-size-p;
        font-family: 'UTM Neo Sans Intel';
        line-height: 1.2;
    }

    a {
        color: white;
        font-size: $font-size-p;
    }

    h1 {
        color: $color-title-location;
        text-transform: uppercase;
        font-family: 'UTM Neo Sans Intel';
        font-size: 20px;
        font-weight: bold;
        padding-bottom: 10px;
        padding-top: 10px;
    }
}

.doi-tac {
    h2 {
        font-family: 'UTM Neo Sans Intel';
    }
}

.footer {
    background-image: url('../images/body/counter.png');
    height: 175px;
    width: 100%;
    background-position: 0px -500px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    &::before {
        position: absolute;
        content: '';
        background: rgba(0, 0, 0, 0.7);
        width: 100%;
        height: 175px;
    }

    .cprht {
        font-family: 'UTM Neo Sans Intel';
    }

    .social img {
        &:hover {
            transform: translateY(-5px);
            filter: brightness(150%);
            transition: all 0.6s;
        }
    }
}

// ve chung toi
#team {
    padding-top: 40px;

    .full-nd-intro {
        color: black;
    }

    h2 {
        font-family: $font-tilte;
    }

    p {
        font-family: $font-tilte;
    }

    .cquotes {
        padding-top: 50px;
        background: url(http://nelo.com.vn/images/quotesbg.png) bottom center no-repeat #000;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-attachment: fixed;
        padding-bottom: 50px;

        ul {
            list-style: none;
            width: 1100px;
            margin: 0 auto;
            padding-top: 60px;
            color: #fff;

            li {
                width: 535px;
                margin-top: -60px;

                img {
                    float: right;
                    margin: 0 30px 0 20px;
                }
            }

            li.left {
                float: left;
                background: url(http://nelo.com.vn/images/listyle2.png) right top no-repeat;
                padding-right: 24px;
                text-align: left;
            }

            li.right {
                float: right;
                background: url(http://nelo.com.vn/images/listyle2.png) left top no-repeat;
                padding-left: 24px;
                text-align: right;

                img {
                    float: left;
                    margin: 0 20px 0 30px;
                }
            }
        }

        h2 {
            text-align: center;
            color: #fff;
            font-family: $font-tilte;
            padding-bottom: 10px;
        }

        .clearer {
            clear: both;
        }

        p {
            line-height: 20px;
            font-family: $font-tilte;
        }

        strong {
            font-family: $font-tilte;
        }
    }
}

// end

// newfeed

.navigation {

    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active {
        border: none;
        color: $color-hover-item-header;


    }

    .nav-tabs .nav-link:focus,
    .nav-tabs .nav-link {

        &:hover {
            border: none;
        }
    }

    .nav-tabs .nav-item .nav-link {
        text-transform: uppercase;
        font-family: $font-tilte;
    }

    ul li a {
        color: #000000;

        &:hover {
            color: $color-hover-item-header;
        }
    }

    .card {
        // margin: 0 10px;
        outline: none;
        border: none;
    }

    .card-body {
        padding: 0;
    }

    .card-text {
        overflow: hidden;
        // text-overflow: ellipsis;
        line-height: 25px;
        // -webkit-line-clamp: 3;
        // height: 75px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        font-family: 'UTM Neo Sans Intel';
    }

    .line-left {
        width: 30px;
        height: 5px;
        background: #f35e01;
    }

    span {
        font-weight: bold;
        font-family: 'UTM Neo Sans Intel';
    }

    h4,
    h2 {
        font-family: 'UTM Neo Sans Intel';
    }

    .tab-pane.active {
        animation: slide-down 0.5s ease-out;
    }

    .post-icon {
        position: absolute;
        z-index: 99;
        top: 10px;
        border-radius: 15%;
        background: #f2c341;
        left: 90%;
        padding: 0px 7px;
    }

    .fa-picture-o {
        color: white;
    }

    .post-meta {
        position: absolute;
        bottom: 15px;
        left: 15px;
        color: #fff;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 600;
        z-index: 99;
    }

    @keyframes slide-down {
        0% {
            transform: translateY(100%);
        }

        100% {
            transform: translateY(0);
        }
    }

    .owl-prev {
        float: left;
        position: absolute;
        top: 40%;
        left: 5px;

    }

    .owl-next {
        float: right;
        position: absolute;
        top: 40%;
        right: 5px;

    }

    .owl-theme .owl-nav [class*=owl-] {
        &:hover {
            background: transparent;
        }
    }

    .owl-carousel .owl-nav button.owl-next,
    .owl-carousel .owl-nav button.owl-prev,
    .owl-carousel button.owl-dot {
        &:focus {
            border: none;
            outline: none;
        }
    }

    .fa-angle-left,
    .fa-angle-right {
        color: white;
        font-size: 30px;
    }

    .owl-dots {
        position: absolute;
        top: 85%;
        left: 45%;
    }
}

// end

// dich vu
.service {
    .service-vip {
        padding: 10px;
        border: 1px solid;
        max-width: 100%;
        overflow: hidden;
    }
}

#dich-vu {
    .fix-w-h {
        width: 100%;
        height: 100%;
        overflow: hidden;
        border: 5px solid #f2c341;
        position: relative;

        &:hover {
            img {
                transform: scale(1.1);
                transition: all .4s ease-in-out;
                filter: blur(2px);

            }

            .caption {
                transform: translateY(-70%);
                transition: all .4s;
            }
        }


    }

    .slide-img {
        position: absolute;
        top: 0;
        right: 0;
    }

    h2 {
        color: black;
        font-family: 'UTM Neo Sans Intel';
    }

    h4 {
        font-family: $font-tilte;
        color: white;
    }

    .project-item {
        max-width: 100%;
        overflow: hidden;
    }

    .btn-view button {
        @include button-view(transparent, white, 5px, 10px);

        &:hover {
            background: white;
            color: #000000;
            border: 1px solid black;
            transition: all .2s ease-in-out;
        }
    }

    img {
        max-width: 100%;
    }

    .caption {
        position: absolute;
        text-transform: uppercase;
        top: 80%;
        font-size: 20px;
        width: 100%;


        .btn {
            @include btn();

            &:hover {
                color: #373737;
                transition: color 0.1s linear 0s;
            }
        }
    }
}

// liên hệ
#contact {
    padding-top: 0px;
    padding-bottom: 0;

    #form-contact {
        width: 50%;
        margin: 0 auto;

        .form-control {
            background-color: transparent;
            border-color: rgba(0, 0, 0, .1);
            /* border-color: rgba(255,255,255,.1); */
            height: 50px;
            border-radius: 0;
            box-shadow: none;
        }

        .form-group {
            margin-bottom: 30px;

            .btn-submit {
                display: block;
                padding: 12px;
                width: 100%;
                color: #fff;
                border: 0;
                margin-top: 40px;
                background: $background-project;
            }
        }

        textarea.form-control {
            min-height: 180px;
            resize: none;
        }

    }

    .heading {
        padding-top: 40px;
        padding-bottom: 20px;
    }

    h2 {
        font-family: $font-tilte;
    }

    p {
        font-family: $font-tilte;
    }
}

@import "responsive";