// header
$backgroun-header:#ffffff;
$color-menu-header:#000000;
$color-hover-item-header: #fc4303;
$font-size-menu:18px;
// end

// section-1
$color-noi-dung-section-1:#ffffff;
$font-size-title:64px;
$font-size-p:18px;
// end
// dự án nổi bật
$background-project:#f35e01;
$color-h2:#ffffff;
$color-counter-p:#ffffff;
$font-size-counter-span:40px;
$font-size-counter-p:18px;
// end

// location
$color-title-location:#f35e01;

// end

// window onload
.fixed {
    width: 100%;
    background: $backgroun-header;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
    box-shadow: 0px 4px 10px -6px;
    transition: height 0.6s;
}

.header.fixed img {
    height: 40px !important;
    transition: height 0.6s;
}

.active-2 {
    color: $color-hover-item-header !important;
}

// end

// ham tai su dung
@mixin button-view($backgound-color, $color, $p-top-bottom, $p-left-right) {
    background: $backgound-color;
    border: 1px solid $color;
    color: $color;
    padding: $p-top-bottom $p-left-right;
}

// end


.container {
    max-width: 1250px !important;
}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

// header
.header {
    box-shadow: 0px 4px 10px -6px;

    .nav-item {
        padding: 0 5px;

        .nav-link {
            font-size: $font-size-menu;
            text-transform: uppercase;
            color: $color-menu-header;
            font-family: 'UTM Neo Sans Intel';

            &:hover {
                color: $color-hover-item-header;
                transition: 0.3s;

            }
        }
    }
}

// end

// slide
section {
    #owl-demo .item img {
        display: block;
        width: 100%;
        height: 700px;
    }

    .owl-dots {
        display: none !important;
    }
}

// end

// ve chung toi
.section-1 {
    background-image: url(http://wallpaper.phunuvn.net/files/hinh-nen-noi-that/19731-interior-design-1920x1080-photography-wallpaper.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    &::before {
        position: absolute;
        background: rgba(0, 0, 0, 0.8);
        content: '';
        width: 100%;
        height: 381px
    }

    .content-nd {
        padding: 30px 0;
    }

    .title {
        span {
            color: $color-noi-dung-section-1;
            font-size: $font-size-title;
            font-weight: 500;
            font-family: 'UTM Neo Sans Intel';
        }

        .nd {
            p {
                color: $color-noi-dung-section-1;
                font-size: $font-size-p;
                display: block;
                font-weight: 100;
                font-family: 'UTM Neo Sans Intel';
            }
        }

    }
}

// end

// du an cua chung toi
.Outstanding-project {
    background: $background-project;

    h2 {
        color: $color-h2;
        font-family: 'UTM Neo Sans Intel';
    }

    img {
        border: 10px solid white;
        height: 263px;
        width: 100%;
        overflow: hidden;

        &:hover {
            transition: all .2s ease-in-out;
            transform: scale(1.05);
        }
    }

    .overly {
        // position: relative;
        // margin-top: -70px;
        // visibility:hidden;
        // color: #ffffff;
        // font-size: 35px;
    }

    .project-item {

        // height: 263px;
        overflow: hidden;
    }

    .btn-view button {
        @include button-view(transparent, white, 5px, 10px);

        &:hover {
            background: white;
            color: #000000;
            border: 1px solid black;
            transition: all .2s ease-in-out;
        }
    }
}

// end
.counter {
    background-image: url('../images/body/counter.png');
    // height: 175px;
    width: 100%;
    background-position: 0px -500px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    &::before {
        position: absolute;
        content: '';
        background: rgba(0, 0, 0, 0.7);
        width: 100%;
        height: 170px;
    }

    p {
        color: $color-counter-p;
        font-size: $font-size-counter-p;
        font-family: 'UTM Neo Sans Intel';
    }

    span {
        color: $color-counter-p;
        font-size: $font-size-counter-span
    }
}

.tintuc-new {
    .card {
        margin: 0 10px;
        outline: none;
        border: none;
    }

    .card-body {
        padding: 0;
    }

    .card-text {
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 25px;
        -webkit-line-clamp: 3;
        height: 75px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        font-family: 'UTM Neo Sans Intel';
    }

    .line-left {
        width: 30px;
        height: 5px;
        background: #f35e01;
    }

    span {
        font-weight: bold;
        font-family: 'UTM Neo Sans Intel';
    }

    h4,h2 {
        font-family: 'UTM Neo Sans Intel';
    }

    .btn-view button {
        @include button-view(transparent, black, 5px, 10px);

        &:hover {
            background: #000000;
            color: white;
            border: 1px solid white;
            transition: all .2s ease-in-out;
        }
    }

    .slick-slide img {
        height: 260px;
    }
}

.contact {
    background-image: url(https://idoltv.vn/wp-content/uploads/2018/10/IDOLTV-hinh-nen-game-fortnite-may-tinh-full-hd-903573.jpg);
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;

    &::before {
        position: absolute;
        content: '';
        background: rgba(0, 0, 0, 0.7);
        width: 100%;
        height: 555px;
    }

    span {
        display: block;
        padding: 6px 0px;
        color: white;
        font-size: 18px;
        font-family: 'UTM Neo Sans Intel';
    }

    a {
        color: white;
        font-size: 18px;
    }

    h1 {
        color: $color-title-location;
        text-transform: uppercase;
        font-family: 'UTM Neo Sans Intel';
    }
}
.doi-tac{
    
}
.footer {
    background-image: url('../images/body/counter.png');
    height: 175px;
    width: 100%;
    background-position: 0px -500px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    &::before {
        position: absolute;
        content: '';
        background: rgba(0, 0, 0, 0.7);
        width: 100%;
        height: 200px;
    }
}


@import "responsive";